@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.mx-3{
  margin: 0 3px;
}
.px-3{
  padding: 0 3px;
}
.mx-4{
  margin: 0 4px;
}
.px-4{
  padding: 0 4px;
}
.mx-5{
  margin: 0 5px;
}
.px-5{
  padding: 0 5px;
}
.py-3{
  padding: 3px 0;
}
.my-3{
  margin: 3px 0;
}
.py-4{
  padding: 4px 0;
}
.my-4{
  margin: 4px 0;
}
.py-5{
  padding: 5px 0;
}
.my-5{
  margin: 5px 0;
}